body {
    background-size: auto;
}
.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 5px 5px black;
    font-family: 'Akaya Telivigala', cursive;
    background: linear-gradient(to right bottom,black, purple,pink,white);
}
.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    color: black;
}
.heading_div_2{
    font-size: 18px;
    background-color: black;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
    box-shadow: 5px 5px 5px red;
}
.resulttag{
    font-size: 20px;
    box-shadow: 5px 5px 5px red;
    background-color: black;
}
#coppyrightfooter{
    position: fixed;
    bottom: 0;
    background:linear-gradient(to right bottom,black, purple,pink,white);
    text-align: center;
    width: 100%;
    font-size: 17px;
    color: white;
    line-height: 2;
}
canvas{
    box-shadow: 5px 5px 5px red;
    width: 300px;
    height: 300px;
    border: solid 5px black;
    margin-top: 149px;
}